.cities, .locations{
    display: flex;
}

.city{
    display: flex;
    margin: 5px;
    border: 2px solid lightgray;
    border-radius: 8px;
    padding: 5px;
}

.delete{
    margin-left: 10px;
    cursor: pointer;
}

.card{
    display: flex;
    flex-direction: row;
}

.card-header{
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;
}

.card-body{
    text-align: center;
}

.slide{
    display: flex;
    margin: 5px;
}

.name{
    margin:0;
}

.slider, .txt{
    margin-left: 20px;
}

#start{
    margin-left: 20px;
}

.btn{
    position:fixed;
    width: inherit;
    bottom: 1%;
    right: 1%;
}

.destinations, .results{
    width:50%;
}

.tableDest{
    width:100%;
}

.txt{
    width: 100px;
}