<h1><strong>Estimate the carbon footprint of your next conference.</strong></h1>
<hr>
<form>
    <div *ngIf="fromLocationTemplate">
        <div class="origins" *ngFor="let Origin of defaultOrigins">
            <div class="check" *ngIf="Origin[1] != ''">
                <p>{{ Origin[0] }}</p>
                <input type="number" class="form-control" name="value" value="{{ Origin[1] }}" (input)="changeVal(Origin[0], $event)">
            </div>
        </div>
        
    </div>

    <div *ngIf="toLocationTemplate">
        <label for=""><h3>Add an organization place :</h3></label>
        <p *ngIf="destinations.length >0"><b>Selected cities :</b></p>
        <div class="cities">
            <div class="city" *ngFor="let Location of destinations">{{ Location.name }} ({{ Location.country}})
                <div class="delete" (click)="deleteCity(Location)">X</div>
            </div>
          </div>
        <input type="text" class="form-control" name="to" [(ngModel)]="to"     (keypress)="handleToLocation()">
        <small>City search E.g. London</small>
        <div class="card">
            <div class="card-header" *ngFor="let Location of toLocation" (click)="handleDestination(Location)">
                <div class="card-body"><b>{{ Location.name }}</b>  ({{ Location.country}})</div>
            </div>
        </div>
    </div>
    <!-- Ou alors demander un mois ? car vol à peu près équivalent à chaque période de l'année -->
    <div *ngIf="dateTemplate"> 
        <label for=""><h3>When do you want to organize your conference ?</h3></label>
        <div>
            <input type="radio" id="lessYear" name="date" value="less">
            <label for="html">Less than a year</label><br>
            <input type="radio" id="overYear" name="date" value="over">
            <label for="css">Over a year</label><br>
        </div>
    </div>
    <button class="btn btn-secondary" (click)="findAirports()" [ngStyle]="{'width': '100%'}">Find Flights</button>
</form>
